.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    gap: 0.625em;
    overflow-x: hidden;
    overflow-y: auto;
}

p, h1, h2, h3, h4 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.brand-font{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.black{
    color: #000;
}

.white{
    color:#fff;
}

.red{
    color: #de041c;
}
/* ///////////////////////////////////Top Grid Container */
.top-grid-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1000px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
        "a a a a a a a a a a"
        "c c c c c c c c c c"
        "d d d d d d d d d d"
        "e e e f f f f g g g";
    gap: 0.625em;
    background-color: #de041c;
    padding-bottom: 65px;
    align-items: start;
}

.top-module-text-div{
    z-index: 1;
    grid-area: c;
    overflow: visible;
    text-align: center;
    padding-top:clamp(25px, 9vw, 145px);
    padding-bottom:200px;
}

.headline-font{
    text-align: center;
    font-size: clamp(32px, 9.5vw, 170px);
    /* font-size: clamp(33px, 5.7vw, 125px); */
    font-weight: 900;
    line-height: 0px;
    letter-spacing: -4px;
    grid-area: c;

}

.subhead-font{
    text-align: center;
    font-size: clamp(26px, 5.55vw, 100px);
    /* font-size: clamp(21px, 3.3vw, 75px); */
    max-width: 65ch;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: -1.5px;
    padding-bottom: 0px;
    grid-area: c;
}

.subhead-body-font{
    width: 60%;
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bg-image{
    z-index: 0;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    max-height: 1150px;
    object-fit: cover;
    margin-top: -10px;
}

.bottom-grid-container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1920px;
    max-height:850px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
        "a a a b b f f f f f"
        "c d d e . f f f f f";
    gap: 0.625em;

}

/* ///////////////////////////////////Video Div Start //////////////////////////////////////////////*/

.video-div{
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    grid-area: b;
    max-height: 475px;
    margin-top: -233px ;
}

.video{
    display: relative;
    width: clamp(400px , 200%, 757px);
    height: auto;
    aspect-ratio: 16 / 9;
    box-shadow: #000 0px 0px 35px;
}

.image2{
    display: relative;
    width: 100%;
    max-width: 390px;
    max-height: 285px;
    object-fit: cover;
}

.image5{
    display: relative;
    width: 65%;
    max-width: 237px;
    max-height: 177px;
    object-fit: cover;
}

/*///////////////////////////// Video Div End /////////////////////////////////////////////*/

.image1{
    grid-area: a;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image3{
    grid-area: c;
    width: 100%;
    height: 100%;
    max-height: 398px;
    object-fit: fill;
}

.image4{
    grid-area: d;
    width: 100%;
    height: 100%;
    max-height: 398px;
    object-fit: fill;
}

.br-text-div{
    z-index: 1;
    grid-area: f;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-texture{
    z-index: 0;
    opacity: .1;
    grid-area: f;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-div{
    z-index: 1;
    grid-area: f;
    width: 100%;
    padding-top: clamp(20px, 14vw, 375px);
    padding-left: 50px;

}

.text-div p {
    padding-right: 200px;
    line-height: 1.6;
}

/* rm = right module skills Assessment text area */
.rm-text-red{
    font-weight: 700;
}

.rm-welcome-txt{
    line-height: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: clamp(20px, 2vw, 35px);
    padding-bottom: 5px;
}

.rm-skills-txt{
    line-height: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: clamp(32px, 3.26vw, 57px);
    padding-bottom:35px;
}

.underline
{   
    width: 94%;
    border-bottom:6px solid #000000;
}

/* //////////////////////////////////////// Mobile Classes Start////////////////////////////////////// */


.mobile-video-div{
    display: none;
    grid-area: g;
    max-height: 475px;
}

.mobile-video{
    display: none;
    grid-area: g;
    height: auto;
    aspect-ratio: 16 / 9;
    box-shadow: #000 0px 0px 35px;
}

.mobile-image-two{
    display: none;
    grid-area: b;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-image-five{
    display: none;
    grid-area: e;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* //////////////////////////////////////////////Mobile Classes End//////////////////////////////// */


/* /////////////////////////////////////////////// 1525 //////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1525px){

    .bottom-grid-container{
        max-height: 475px;
        width: 100%;
        grid-template-areas: 
            "a a a b b f f f f f"
            "c d d e e f f f f f";
    }

    .text-div p {
        line-height: 1.1;
    }

}

@media screen and (max-width: 1350px){

    /* .subhead-body-font{
        font-size: 18px;
        padding-bottom: 80px;
    } */



}
/* /////////////////////////////////////////////// 1280 //////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1280px){

    .body{
        max-width: 1279;
    }

    .top-grid-container {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1279px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 
            " a a a a a a a a "
            " c c c c c c c c "
            " e e f f f f g g ";
        gap: 0.625em;
        max-height: 940px;
        background-color: #de041c;
        padding-bottom: 55px;
    }

    .bottom-grid-container{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1279px;
        max-height:850px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            "a a a b b "
            "c d d e . "
            "f f f f f"
            "f f f f f"
            "g g g g g";
        gap: 0.625em;
    }

    .bottom-grid-container img{
        height: fit-content;
    }
 /* ////////////////////////////////////////////// Headline Text, Subhead Area */

    .top-module-text-div{
        z-index: 1;
        grid-area: c;
        overflow: visible;
        text-align: center;
    }
    
    .headline-font{
        /* font-size: clamp(60px, 8vw, 125px); */
        font-weight: 900;
        line-height: 0px;
        letter-spacing: -4px;
    }
    
    .subhead-font{
        /* font-size: clamp(10px, 4.7vw, 74px); */
        font-weight: 900;
        line-height: 0px;
        letter-spacing: -1.5px;
        padding-bottom: 0px;
    }
    
    /* .subhead-body-font{
        font-size: clamp(10px, 1.7vw, 20px);
        line-height: clamp(15px, 1.5vw, 30px);
        font-weight: 500;
        max-width: 80% ;
        letter-spacing: 0px;
        text-align: center;
        text-wrap-style: balance;
        margin-left: auto;
        margin-right: auto;
    } */

/* ///////////////////////////////////////// Video and Image Collage Area */
    .video{
        display: none;
    }

    .video-div{
        display: none;
    }

    .mobile-video-div{
        grid-area: f;
        position: relative;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 10px;
    }

    .mobile-video{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-image-two{
        display: block;
        height: 100% !important;
    }

    .mobile-image-five{
        display: block;
        height: 100% !important;
        width: 130%;
    }

    .image3{
        height: 100% !important;
        min-height: 100%;
    }

    .image4{
        height: 100% !important;
    }

/* /////////////////////////////////////////////// Bottom Grid Text Area*/

    .rm-welcome-txt{
        text-align: center;
        line-height: 0px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: clamp(20px, 4vw, 120px);
        padding-bottom: 5px;
    }

    .rm-skills-txt{
        text-align: center;
        line-height: 0px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: clamp(25px, 6vw, 270px);
        padding-bottom:clamp(25px, 6vw, 55px);
    }

    .text-div{
        z-index: 1;
        grid-area: f;
        width: 100%;
        padding-top: clamp(15px, 1.5vw, 30px) !important;
    }
    
    .text-div p {
        padding-right: 40px;
        padding-left: 40px;
        font-size: clamp(10px, 1.7vw, 20px);
        line-height: 1.7;
    }

    .bg-texture{
        z-index: 1;
        opacity: .1;
        grid-area: f g;
        width: 100%;
        object-fit: cover;

    }

}
/* /////////////////////////////////////////////// 1000 //////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1000px){

    /* .headline-font{
        font-size: clamp(60px, 4vw, 125px);
    } */
}

/* /////////////////////////////////////////////// 740 //////////////////////////////////////////////////////////////////// */

    @media screen and (max-width: 740px){

        /* .headline-font{
            font-size: clamp(60px, 4vw, 125px);
        } */
    }


    /* @media screen and (max-width: 640px){

    } */


/* /////////////////////////////////////////////// 430 //////////////////////////////////////////////////////////////////// */

    @media screen and (max-width: 430px){
        /* .headline-font{
        font-size: clamp(10px, 22px, 30px); */
    }
    
    .subhead-font{
        /* font-size: clamp(10px, 22px, 52px); */
        font-weight: 900;
        line-height: 0px;
        letter-spacing: -1.5px;
        padding-bottom: 0px;
    }
    }


}