.body{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.flex-contianer{
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
    background-color: bisque;
}

.image1f{
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 427px;
    min-width: 265;
    min-height: 200;
    object-fit: contain;
}

.image2f{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 1;
    width: 100%;
    height: 100%;
    max-width: 386px;
    max-height: 286px;
    object-fit: cover;
}

.image3f{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    max-width: 176px;
    max-height: 286px;
}

.image4f{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    max-width: 382px;
    max-height: 286px;
}

.image5f{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    width: 237px;
    max-height: 177px;
}

.top-grid-container{
   background-color: burlywood; 
}

.bottom-grid-container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 3fr 2fr;
    grid-template-areas: 
        "a a a b b f f f f f"
        "c d d e . f f f f f";
    gap: 0.625em;
    background-color: antiquewhite;
}


.image1{
    grid-area: a;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.image2{
    grid-area: b;
    width: 100%;
    object-fit: fill;
    transform: translateY(14.4rem)
}

.image3{
    grid-area: c;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.image4{
    grid-area: d;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.image5{
    grid-area: e;
    width: 130%;
    max-width: 237px;
    max-height: 177px;
    object-fit: fill;
    transform: translateY(1.1rem)
}

.br-text-div{
    z-index: 1;
    grid-area: f;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.image6{
    z-index: 0;
    opacity: .1;
    grid-area: f;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-div{
    z-index: 1;
    grid-area: f;
    width: 100%;
}

.text-div p {
    padding-right: 250px;
}

.rm-text-red{
    font-weight: 700;
}

.rm-welcome-txt{
    line-height: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: clamp(1.13em, 2vw, 2.13em);
    padding-top: 150px;
    padding-bottom: 5px;
}

.rm-skills-txt{
    line-height: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: clamp(2.63em, 2vw, 3.13em);
    padding-bottom:35px;
}

.underline
{   
    width: 100%;
    border-bottom:6px solid #000000; width: 100%; 

}

@media screen and (max-width: 1820px){

    image5{
        transform: translate(0,4%);
    }

}

@media screen and (max-width: 1720px){

    image5{
        transform: translate(0,0);
        margin-top: -80px;
    }

    

}